# HW1

**Name:Man Chen**

**ID:2001212261**

## 1.Data Loading

In [1]:
from scipy.io import arff
import pandas as pd

In [2]:
data, meta = arff.loadarff('4year.arff')

In [3]:
df=pd.DataFrame(data)

In [4]:
df

,Attr1,Attr2,Attr3,Attr4,Attr5,Attr6,Attr7,Attr8,Attr9,Attr10,...,Attr56,Attr57,Attr58,Attr59,Attr60,Attr61,Attr62,Attr63,Attr64,class
0,0.159290,0.46240,0.077730,1.16830,-44.8530,0.467020,0.189480,0.82895,1.12230,0.38330,...,0.108990,0.415570,0.89101,0.001422,7.7928,4.9914,119.810,3.0465,3.05600,b'0'
1,-0.127430,0.46243,0.269170,1.75170,7.5970,0.000925,-0.127430,1.16250,1.29440,0.53757,...,-0.089372,-0.237040,1.06250,0.150410,5.4327,3.4629,100.970,3.6150,3.47250,b'0'
2,0.070488,0.23570,0.527810,3.23930,125.6800,0.163670,0.086895,2.87180,1.05740,0.67689,...,0.054286,0.104130,0.94571,0.000000,7.1070,3.3808,76.076,4.7978,4.78180,b'0'
3,0.136760,0.40538,0.315430,1.87050,19.1150,0.504970,0.136760,1.45390,1.11440,0.58938,...,0.102630,0.232030,0.89737,0.073024,6.1384,4.2241,88.299,4.1337,4.64840,b'0'
4,-0.110080,0.69793,0.188780,1.27130,-15.3440,0.000000,-0.110080,0.43282,1.73500,0.30207,...,0.439880,-0.364400,0.57153,0.000000,18.8010,2.7925,146.390,2.4934,15.03600,b'0'
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9787,0.004676,0.54949,0.192810,1.38990,-39.0640,0.004676,0.013002,0.78627,0.97093,0.43205,...,-0.029937,0.010823,1.02990,0.127190,3.8159,3.3892,146.860,2.4854,3.93150,b'1'
9788,-0.027610,0.60748,-0.029762,0.90591,-20.9230,-0.027610,-0.027610,0.55161,1.00730,0.33509,...,0.007198,-0.082395,0.99280,0.868910,23.0280,27.1360,37.047,9.8523,4.36810,b'1'
9789,-0.238290,0.62708,0.090374,1.61250,-1.0692,-0.238290,-0.240360,0.28322,0.80307,0.17760,...,-0.245220,-1.341700,1.24520,2.700100,6.5694,4.1781,88.883,4.1065,0.79501,b'1'
9790,0.097188,0.75300,-0.327680,0.43850,-214.2400,-0.331300,0.104280,0.32803,0.98145,0.24700,...,0.288240,0.393470,0.68127,0.508850,4.3246,35.5030,217.030,1.6818,1.31910,b'1'
9791,0.021416,0.48678,0.148940,1.30670,-24.2820,0.021416,0.027253,1.05320,1.00140,0.51267,...,0.001393,0.041773,0.99861,0.002146,6.7582,4.9171,98.421,3.7085,4.92950,b'1'

## 2.Data Processing

In [5]:
df['Bankruptcy'] = (df['class']==b'1')
del df['class']
df.columns = ['X{0:02d}'.format(k) for k in range(1,65)] + ['Bankruptcy']

## 3.Data Extraction

In [6]:
df1=df[['X01','X02','X07','X10','Bankruptcy']]

In [7]:
df1

           X01      X02       X07      X10  Bankruptcy
0     0.159290  0.46240  0.189480  0.38330       False
1    -0.127430  0.46243 -0.127430  0.53757       False
2     0.070488  0.23570  0.086895  0.67689       False
3     0.136760  0.40538  0.136760  0.58938       False
4    -0.110080  0.69793 -0.110080  0.30207       False
...        ...      ...       ...      ...         ...
9787  0.004676  0.54949  0.013002  0.43205        True
9788 -0.027610  0.60748 -0.027610  0.33509        True
9789 -0.238290  0.62708 -0.240360  0.17760        True
9790  0.097188  0.75300  0.104280  0.24700        True
9791  0.021416  0.48678  0.027253  0.51267        True

[9792 rows x 5 columns]

In [8]:
df1.rename(columns={'X01':'X1','X02':'X2','X07':'X7','X10':'X10'},inplace=True)

D:\Anaconda3\lib\site-packages\pandas\core\frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

## 4.Filling NaN

In [9]:
df1.fillna(df1.mean(),inplace=True)

D:\Anaconda3\lib\site-packages\pandas\core\series.py:4463: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [10]:
df1

            X1       X2        X7      X10  Bankruptcy
0     0.159290  0.46240  0.189480  0.38330       False
1    -0.127430  0.46243 -0.127430  0.53757       False
2     0.070488  0.23570  0.086895  0.67689       False
3     0.136760  0.40538  0.136760  0.58938       False
4    -0.110080  0.69793 -0.110080  0.30207       False
...        ...      ...       ...      ...         ...
9787  0.004676  0.54949  0.013002  0.43205        True
9788 -0.027610  0.60748 -0.027610  0.33509        True
9789 -0.238290  0.62708 -0.240360  0.17760        True
9790  0.097188  0.75300  0.104280  0.24700        True
9791  0.021416  0.48678  0.027253  0.51267        True

[9792 rows x 5 columns]

## 5.Calculation of mean and std

### 5.1 All companies

In [11]:
# Mean
print('The mean of X1 of all companies is:',df1.mean()['X1'])
print('The mean of X2 of all companies is:',df1.mean()['X2'])
print('The mean of X7 of all companies is:',df1.mean()['X7'])
print('The mean of X10 of all companies is:',df1.mean()['X10'])

The mean of X1 of all companies is: 0.04301916745123084
The mean of X2 of all companies is: 0.596403815879586
The mean of X7 of all companies is: 0.05944590101021367
The mean of X10 of all companies is: 0.3890400827576346

In [12]:
# Standard Deviation
print('The std of X1 of all companies is:',df1.std()['X1'])
print('The std of X2 of all companies is:',df1.std()['X2'])
print('The std of X7 of all companies is:',df1.std()['X7'])
print('The std of X10 of all companies is:',df1.std()['X10'])

The std of X1 of all companies is: 0.35930257137273275
The std of X2 of all companies is: 4.586887397339805
The std of X7 of all companies is: 0.5333166953577835
The std of X10 of all companies is: 4.590064237698494

### 5.2 Bankruptcy Companies

In [13]:
# Mean
print('The mean of X1 of bankruptcy companies is:',df1[df1['Bankruptcy']==True].mean()['X1'])
print('The mean of X2 of bankruptcy companies is:',df1[df1['Bankruptcy']==True].mean()['X2'])
print('The mean of X7 of bankruptcy companies is:',df1[df1['Bankruptcy']==True].mean()['X7'])
print('The mean of X10 of bankruptcy companies is:',df1[df1['Bankruptcy']==True].mean()['X10'])

The mean of X1 of bankruptcy companies is: -0.06887267979417472
The mean of X2 of bankruptcy companies is: 0.8783549529126209
The mean of X7 of bankruptcy companies is: -0.06153787905825238
The mean of X10 of bankruptcy companies is: 0.10336679728155329

In [14]:
# Standard Deviation
print('The std of X1 of bankruptcy companies is:',df1[df1['Bankruptcy']==True].std()['X1'])
print('The std of X2 of bankruptcy companies is:',df1[df1['Bankruptcy']==True].std()['X2'])
print('The std of X7 of bankruptcy companies is:',df1[df1['Bankruptcy']==True].std()['X7'])
print('The std of X10 of bankruptcy companies is:',df1[df1['Bankruptcy']==True].std()['X10'])

The std of X1 of bankruptcy companies is: 0.5680757595733424
The std of X2 of bankruptcy companies is: 1.9455961615333148
The std of X7 of bankruptcy companies is: 0.5684319913657706
The std of X10 of bankruptcy companies is: 1.9467470062136751

### 5.3 Operating Companies

In [15]:
# Mean
print('The mean of X1 of operating companies is:',df1[df1['Bankruptcy']==False].mean()['X1'])
print('The mean of X2 of operating companies is:',df1[df1['Bankruptcy']==False].mean()['X2'])
print('The mean of X7 of operating companies is:',df1[df1['Bankruptcy']==False].mean()['X7'])
print('The mean of X10 of operating companies is:',df1[df1['Bankruptcy']==False].mean()['X10'])

The mean of X1 of operating companies is: 0.04923069071644411
The mean of X2 of operating companies is: 0.5807516831241678
The mean of X7 of operating companies is: 0.06616215052355413
The mean of X10 of operating companies is: 0.4048988455063873

In [16]:
# Mean
print('The std of X1 of operating companies is:',df1[df1['Bankruptcy']==False].std()['X1'])
print('The std of X2 of operating companies is:',df1[df1['Bankruptcy']==False].std()['X2'])
print('The std of X7 of operating companies is:',df1[df1['Bankruptcy']==False].std()['X7'])
print('The std of X10 of operating companies is:',df1[df1['Bankruptcy']==False].std()['X10'])

The std of X1 of operating companies is: 0.3430017446579275
The std of X2 of operating companies is: 4.689694192138298
The std of X7 of operating companies is: 0.5305240968515745
The std of X10 of operating companies is: 4.692934252693829

## 6.Generating new subgroups

In [17]:
subgroup1=df1[df1['X1']<df1.mean()['X1']-df1.std()['X1']]

In [18]:
print('The number of the companies satisfying the condition X1 < mean(X1) - stdev(X1) is: ',subgroup1.shape[0])

The number of the companies satisfying the condition X1 < mean(X1) - stdev(X1) is:  284

In [19]:
subgroup2=df1[df1['X10']<df1.mean()['X10']-df1.std()['X10']]

In [20]:
print('The number of the companies satisfying the condition X10 < mean(X10) - stdev(X10) is: ',subgroup2.shape[0])

The number of the companies satisfying the condition X10 < mean(X10) - stdev(X10) is:  24

## 7.Calculating the ratio of subgroup

In [21]:
print('The ratio of the bankruptcy of subgroup1 is: ',subgroup1[subgroup1['Bankruptcy']==True].shape[0]/subgroup1.shape[0])

The ratio of the bankruptcy of subgroup1 is:  0.20774647887323944

In [22]:
print('The ratio of the bankruptcy of subgroup2 is: ',subgroup2[subgroup2['Bankruptcy']==True].shape[0]/subgroup2.shape[0])

The ratio of the bankruptcy of subgroup2 is:  0.125